<html>
<head>
    <meta http-equiv="content-type" charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script type="text/javascript" src="js/superagent.js"></script>
</head>

<body>


    <div id="my_view">

        <div>
            <label for="msg">Message:</label><br>
            <textarea id="msg" v-model="message" placeholder="わかり味の深い文章"></textarea>
        </div>
            <div class="button">
                <button v-on:click="post">Send your message</button>
        </div>

        <div v-for="post in orderByID" :key="posts.id">
            id: {{post.id}}　posted-at: {{post.unixtime}}　「 {{post.content}}」<br>
        </div>
    </div>

    <script type="text/javascript" src="js/bind.js"></script>

</body>
</html>